<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-error-heading" data-cy="ErrorCreateUpdateHeading" jhiTranslate="demoneApp.error.home.createOrEditLabel">
        Create or edit a Error
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="demoneApp.error.errorid" for="field_errorid">Errorid</label>
          <input type="number" class="form-control" name="errorid" id="field_errorid" data-cy="errorid" formControlName="errorid" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="demoneApp.error.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="demoneApp.error.data" for="field_data">Data</label>
          <div class="d-flex">
            <input
              id="field_data"
              data-cy="data"
              type="datetime-local"
              class="form-control"
              name="data"
              formControlName="data"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="demoneApp.error.source" for="field_source">Source</label>
          <select class="form-control" id="field_source" data-cy="source" name="source" formControlName="source">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="sourceOption.id === editForm.get('source')!.value?.id ? editForm.get('source')!.value : sourceOption"
              *ngFor="let sourceOption of sourcesSharedCollection; trackBy: trackSourceById"
            >
              {{ sourceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
